/* Global Styles */
body, html {margin:0; padding:0; position:relative; height:100%; width:100%;}
.blur {
  -webkit-filter: blur(10px);
}
.easy {
    -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.fade-left {
    background-image: linear-gradient(left , rgba(51,51,51,1) 50%, rgba(51,51,51,0) 0%);
    background-image: -o-linear-gradient(left , rgba(51,51,51,1) 50%, rgba(51,51,51,0) 0%);
    background-image: -moz-linear-gradient(left , rgba(51,51,51,1) 50%, rgba(51,51,51,0) 0%);
    background-image: -webkit-linear-gradient(left , rgba(51,51,51,1) 50%, rgba(51,51,51,0) 0%);
    background-image: -ms-linear-gradient(left , rgba(51,51,51,1) 50%, rgba(51,51,51,0) 0%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        right bottom,
        color-stop(0.5, rgba(51,51,51,1)),
        color-stop(1.0, rgba(51,51,51,0.2))
    );
}
.fade-right {
    background-image: linear-gradient(left , rgba(51,51,51,0) 0%, rgba(51,51,51,1) 50%);
    background-image: -o-linear-gradient(left , rgba(51,51,51,0) 0%, rgba(51,51,51,1) 50%);
    background-image: -moz-linear-gradient(left , rgba(51,51,51,0) 0%, rgba(51,51,51,1) 50%);
    background-image: -webkit-linear-gradient(left , rgba(51,51,51,0) 0%, rgba(51,51,51,1) 50%);
    background-image: -ms-linear-gradient(left , rgba(51,51,51,0) 0%, rgba(51,51,51,1) 50%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        right bottom,
        color-stop(0.0, rgba(51,51,51,0.2)),
        color-stop(0.5, rgba(51,51,51,1))
    );
}

/* Fonts */
.itsame { font-family: 'itsame', Arial, sans-serif; }
.constance { font-family: 'constance', Arial, sans-serif; }
.hiruko { font-family: 'hiruko', Arial, sans-serif; }
.linbiolinum { font-family: 'linbiolinum', Arial, sans-serif; }

.stage-box h2.itsame {text-shadow: 4px 4px 2px #999;}

#presentation {height:100%; width:100%; overflow:hidden;}

/* General styles for title text */
.text-primary {color:#3fbfff; font-size:80px; text-align: center; margin:0;
	-webkit-text-stroke-width: 0.25px; -webkit-text-stroke-color: black;}
.text-primary:hover {color:#fff;}
.text-emph {color:#ff9b3b; font-size:140px; text-align: center; margin:0;
	-webkit-text-stroke-width: 2.5px; -webkit-text-stroke-color: black;}
.text-shadow-dark {text-shadow: 19px 16px 1px #0000ab;}
.text-emph.text-shadow-dark {text-shadow: 15px 8px 1px #000000;}

/* General styles for the content area */
#presentation.title-screen {background: #ffdbab;}
#presentation {background: #9ffff3;}

.presentation-intro {padding-top:200px;}
.presentation-intro h1.text-primary {margin-bottom:10px; font-size:40px !important;}
.presentation-intro .text-shadow-dark {text-shadow: 8px 8px 1px #0000ab;}
.presentation-intro .text-emph {font-size:40px; !important}
.presentation-intro .text-emph.text-shadow-dark {text-shadow: 7px 4px 1px #000000;}

/* Modal Level Selection */
.gamepres-modal-border {
    z-index:2999;
    position:fixed; width:720px; height:300px; top:120px; left:50%; margin-left:-360px;
    background: #000;
    opacity: 0.5;
    border-radius: 15px; -moz-border-radius: 15px;
    -moz-box-shadow: 0 7px 15px 5px #444;
    -webkit-box-shadow: 0 7px 15px 5px #222;
    box-shadow: 0 7px 15px 5px #222;
}
.gamepres-modal {
    z-index:3000;
    position:fixed; width:700px; height:280px; top:130px; left:50%; margin-left:-350px;
    background: #333;
    text-align: center;
    color: #EEE;
    border-radius: 5px; -moz-border-radius: 10px;
    overflow:hidden;
}
.gamepres-modal-title {font-size: 28px; padding:15px;}
.gamepres-modal-levels {background:#444; height:200px; width:700px; position:relative;}
.gamepres-modal-levels-left {position:absolute; left:0; top:0; height:200px; width:50px; z-index:4050;}
.gamepres-modal-levels-left.active, .gamepres-modal-levels-left:hover {cursor:pointer;}
.gamepres-arrow-left {display:inline-block; position:absolute; top:50%; margin-top:-20px; left:50%; margin-left:-15px;}
.gamepres-modal-levels-right {position:absolute; right:0; top:0; height:200px; width:50px; z-index:4050;}
.gamepres-modal-levels-right.active, .gamepres-modal-levels-right:hover {cursor:pointer;}
.gamepres-arrow-right {display:inline-block; position:absolute; top:50%; margin-top:-20px; left:50%; margin-left:-5px;}
.gamepres-modal-levels-content {height:200px; width: auto; overflow:hidden; position:absolute; left:50px; top:0; z-index:4000;}

.gamepres-modal-levels-selector {
    z-index:5000; position:absolute; top:0; left:50px; width:180px; height:180px; border:10px solid #FFC200;
    border-radius:10px; -moz-border-radius:10px;
}

@-webkit-keyframes slide {
    from {border-color: #FFC200;}
    to {border-color: #FFFFFF;}
}
.gamepres-selected {-webkit-animation: slide 100ms linear infinite;}

.gamepres-modal-levels-level {float:left; height:200px; width:200px;}
.gamepres-modal-levels-level-title {padding:20px;}
.gamepres-modal-levels-level-visual {margin:20px; height:120px; width:160px; margin-top:0px; position:relative;}
.gamepres-modal-levels-level-visual img {position:absolute; left:50%; margin-left:-50px; bottom:0;}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;

    border-left: 10px solid #FFF;
}
.arrow-left {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;

    border-right:10px solid #FFF;
}

#inpoot-button {position:absolute; right:10px; top:10px;}
#inpoot-button-music {position:absolute; right:135px; top:10px;}
button.css3button:hover, button.css3button.opaque:hover {opacity:1;}
button.css3button.opaque {opacity:0.8; margin-right:10px; font-size:24px;}
button.css3button {
    cursor:pointer;
    opacity:0.3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #333;
    padding: 5px 10px;
    background: -moz-linear-gradient(
        top,
        #ffffff 0%,
        #ffffff 50%,
        #b5b5b5);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#ffffff),
        color-stop(0.50, #ffffff),
        to(#b5b5b5));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 3px solid #555;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 3px rgba(255,255,255,1);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 3px rgba(255,255,255,1);
    box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 3px rgba(255,255,255,1);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.2),
        0px 1px 0px rgba(255,255,255,1);
}

.transition {
    transition: all 100ms;
    -moz-transition: all 100ms;
    -webkit-transition: all 100ms;
}

#slides {position:absolute; height:100%; left:0; top:0;}
.gamepres-stage-container {height:100%; position:absolute; top:0;}
.gamepres-stage {position:absolute; left:50%; width:80%; padding-top:85px;}
.gamepres-stage-inner {}
.stage-box {
    border:3px solid #fff;
    font-size:200%; padding:40px; border-radius:20px; background-color:#FFF; opacity:0.85;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 3px rgba(255,255,255,1);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 3px rgba(255,255,255,1);
    box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 3px rgba(255,255,255,1);
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(226,226,226,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(236,236,236,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(226,226,226,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(226,226,226,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(226,226,226,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
}

.gamepres-stage a, .gamepres-stage a:visited, .gamepres-stage a:link {
    color: #3fbfff;
    font-weight:bold;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    text-decoration: none;
    text-shadow: 2px 2px 2px #0000ab;
}
.gamepres-stage a:hover {
    color: #ABE3FF;
    text-shadow: 2px 2px 2px #3fbfff;
}
.gamepres-stage pre {margin-bottom:3px; margin-top:0px;}
.gamepres-stage .small-code pre {margin-bottom:2px; margin-top:0px; font-size:16px;}

.centered{text-align:center;}

-webkit-full-screen .gamepres-stage {
        width: 100%;
        height: 100%;
}
-webkit-full-screen .stage-box {
      opacity:1;
      width:100% !important;
}

#gamepres-player-stats {position:absolute; left:30px; top:30px; font-size:150%;}
.gamepres-player-coin {display:inline-block; margin-left:4px; margin-right:10px; width:16px; height:16px; vertical-align: middle; background: url(../gameimages/coin.png) center center no-repeat;}

